body {
    text-align: center;
    background-color: honeydew;
    font-size: 16px;
    margin-top: -45px;
  }


  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  /* {# la partie navBar #} */
  .main-container
  {
    padding:0 18% 0 18%;

  }

  /* {# les style pour le deuxieme menu #} */

  /* Styles pour les images */
  .image {
    width: 200px;
    height: 70px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  /* Styles pour le texte des images */
  .image-text {
    color: gainsboro;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);

  }

  /* le deuxieme nav qui contient bureau et personne */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: #545b62;
    width: 60%;
    box-shadow: 0px 10px 10px rgba(1.5, 1.9, 1.0, 0.1);

  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Styles pour les liens de la liste au survol */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Styles pour afficher la liste de liens au survol de l'image */
  .image:hover .dropdown-content {display: block;}

  /* {# css partie image #} */

  .centered-text {
    text-align: center;
    vertical-align: middle;
  }

  .bureau-info {
    position: absolute;
    top: 37%;
    background-color: darkblue;
    right: 1%;
    width: 18%;
  }
  .floors-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* {# La grande image #} */
  .gauche {
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;


  }
  /* {# Les deux images en bas #} */
  .fixeimg2 {
    width: 90%;
    height: auto;
  }
  /* {# Les deux images mettre de l'espace ou les manipuler#} */
  .floors-container > div {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;

  }
  /* {#conteneur qui contient toutes les images #} */
  .containerImage
  {
    width: 75%;
    left:-20%;
    padding-left:25%;
  }
  .mapImage
  {
    box-shadow: 40px 50px 100px rgba(1.5, 1.9, 1.0, 0.1);
    width: 100%;
    height: auto;
  }
  #etage11
  {
    box-shadow: 40px 50px 100px rgba(1.5, 1.9, 1.0, 0.1);
    width: 100%;
    height: auto;
  }
  #etage22
  {
    box-shadow: 40px 50px 100px rgba(1.5, 1.9, 1.0, 0.1);
    width: 100%;
    height: auto;
  }
  #navLienDeconnexion
  {
    color:green;
  }

