{# {% extends 'base.html.twig' %} #}

{% block title %}Générer un PDF{% endblock %}

{% block body %}
    <h1>Générer un PDF</h1>

    <form method="post">
        <input type="submit" name="generate" value="Générer le PDF">
    </form>
{% endblock %}
